#header{
 
   text-align:center;
   
   
}
#header h1{
display :inline-block;
   color: #2275d4;
    background-color: #6be1db;
    border-radius: 5px;
    padding: 10px 30px;
   box-shadow:0px 4px 10px #7c7e80;
}

.recipe-list ul{
    background-color: #6be1b2;
    padding: 30px  300px ;
    border-radius: 15px;
    box-shadow:rgb(114, 116, 105) 0px 5px 10px ; 
    display:inline-block
}
.recipe-list{
     text-align:center;
}
#biryaniheader,.kormaheader,.mandiheader{
    background-color: #ebe408;
    color: #f10404;
    padding: 20px;
    border-radius: 20px;
    text-shadow: 0px 2px 5px #7c7e80;
     box-shadow:0px 4px 10px #7c7e80;
     position: sticky;
     top:20px; 
}
.biryaniimage,.cimage,.bimage{
    width: 50;
    height: 50;
    box-shadow: #101112;
    border-radius: 40px;
    box-shadow:0px 4px 10px  #7c7e80;
    transition: transform 0.3s ease-out,box-shadow 0.3s ease-out;
}


.biryaniimage:hover,
.cimage:hover,
.bimage:hover {
    width: 50;
    height: 50;
    border-radius: 15px;
    box-shadow: 0px 4px 10px #7c7e80;
transform:translateY(-10px)
}
.textstyle,.contentstyle,.textart,.style{
    background-color: #eed21c;
    border-radius: 15px;
    box-shadow:0px 3px 8px #7c7e80;
   font-size:large;
   font-family:Georgia, 'Times New Roman', Times, serif;
   text-align:left;
  padding : 0px 30px 50px ;
 
}
.steps-list h2{
    color:rgb(24, 28, 4);
    
}
.home,.homepage,.homebutton{
    border-radius: 8px;
    color:rgb(235, 235, 245);
    box-shadow:0px 2px 4px #7c7e80;
    background-color: #100e02;
    }
.indeximage{
    height:100px;
    box-shadow:0px 2px 10px #7c7e80;
    border-radius: 20px;    
     
}
.available h2{
    background-color: #100e02;
    color:antiquewhite;
    padding: 10px 300px 30px;
    border: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 7px rgb(114, 116, 105) ;
    display:inline-block
}
.available{
    text-align:center;
}
